@charset "OTF-8";

:root{
     --cordefundo:black;
     --cortitulo:#e10573c9;
     --fontenav: "nav";
     --fontheader: "header";
}

@font-face {
    font-family: "nav" ;
    src: url(fontes/Racy-Mango-Italic/Racy\ Mango\ [Regular]\ Font\ by\ 7NTypes.otf) format(opentype);
}

@font-face {
    font-family: "header";
    src: url(fontes/Lovely-Girl/Lovely\ Girl.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:var(--cordefundo);
}

header{
    background-color:var(--cordefundo);
    color: var(--cortitulo);
    padding: 20px;
}

header h1{
    text-align: center;
    font-family: var(--fontheader);
    font-size: 3em;
}

nav{
    background-color: var(--cordefundo);
    padding: 10px;
    text-align: center;
    border: solid 5px;
    border-color: var(--cortitulo);
    border-radius: 10px;
}  

nav a{
    padding: 10px;
    margin: 5px;
    display: inline-flex;
    font-size: 2em;
    text-decoration: none;
    justify-content: space-around;
    flex-wrap: wrap;
    color:var(--cordefundo);
    background-color: var(--cortitulo);
    min-width: 200px;
    font-family: var(--fontenav);
    border-radius: 40px;

}

nav a:hover{
    font-size:2.5em;
    transition: .5s;
    color: rgba(255, 255, 255, 0.786);
}



main{
    margin: auto;
    max-width: 1000px;
    background-color: var(--cordefundo);
    border: solid 5px;
    border-color: var(--cortitulo);
    border-top: 0px;
    border-bottom: 0px;
}

main a{
    text-decoration: none;
}


main img{
    width: 100%;
    max-height: 300px;
    border-radius: 5px;
    max-width: 300PX;
    margin-top: 20px;
    border: solid 5px;
    border-color: var(--cortitulo);
    border-radius: 10px;
}

main h2{
    color:var(--cortitulo);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2.5em;
    font-family: var(--fontenav);
}

main h3{
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    font-weight: 100;
    font-size: 2em;
    max-width: 300px;
    font-family: var(--fontenav);
}


main h3:hover{
    font-size: 2.5em;
    transition-duration: .5s;
}

main p{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--cortitulo);
    font-weight: 100;
    font-size: 1.5em;
}



ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

ul p{
    text-align: center;
}

.des{
    text-align:center ;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.833);
    font-family: var(--fontenav);
}

footer{
background-color: var(--cordefundo);
    padding: 20px;
    border-radius: 10px;
    border: solid 5px;
    border-color: var(--cortitulo);
}

footer p{
    color: var(--cortitulo);
    font-size: 1.2em;
    font-family: var(--fontenav);
}

footer li{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

footer img{
    max-width: 100px;
}

